{% extends "base.html" %}

{% load static %}
{% load tags %}
{% load humanize %}

{% block title %} - New Observation{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css' %}">
{% endblock css %}

{% block content %}

  <div class="row">
    <div class="col col-sm-7">
      <h2>Schedule Observations</h2>
      <div class="timezone text-muted">
            <span class="bi bi-clock" aria-hidden="true"></span>
        Timeframes are in <span id="timezone-info" data-toggle="tooltip" title="">UTC</span>
      </div>
    </div>

    <div class="col d-flex justify-content-end align-items-center">
      <a href="#" class="btn" data-toggle="modal" data-target="#HotkeysModal">
        <span class="bi bi-fire" aria-hidden="true" title="Hotkeys"></span>
      </a>
    </div>
  </div>

  <form role="form" action="{% url 'base:observation_new' %}"
        method="post" data-obs-filter="{{ obs_filter.exists|lower }}" data-obs-filter-station="{{ obs_filter.ground_station }}"
        data-obs-filter-dates="{{ obs_filter.dates|lower }}" data-obs-filter-transmitter="{{ obs_filter.transmitter }}"
        data-obs-filter-satellite="{{ obs_filter.norad }}" id="form-obs">{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row align-items-center">
          <label class="col-sm-3 col-form-label">Satellite</label>
          <div class="col-sm-9">
            {% if obs_filter.norad %}
              {% for satellite in satellites %}
                {% if satellite.norad_cat_id == obs_filter.norad %}
                  <select id="satellite-selection" class="form-control selectpicker" data-style="btn" name="satellite" disabled>
                    <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}" selected>
                      {{ satellite.norad_cat_id }} - {{ satellite.name }}
                    </option>
                  </select>
                  <input type="hidden" name="satellite" value="{{ satellite.norad_cat_id }}">
                {% endif %}
              {% endfor %}
            {% else %}
              <select id="satellite-selection" class="form-control selectpicker" data-style="btn" name="satellite"
                      data-live-search="true" autocomplete="off">
                <option value="" selected>Select a satellite</option>
                {% for satellite in satellites %}
                  <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}">
                    {{ satellite.norad_cat_id }} - {{ satellite.name }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-sm-3 col-form-label">Transmitter</label>
          <div id="transmitter-field-loading" class="col-sm-9 loading-field">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <div class="col-sm-9" id="transmitter-field">
            <select id="transmitter-selection" class="form-control selectpicker" data-style="btn"
                    disabled name="transmitter" autocomplete="off">
              <option id="no-transmitter" value="" selected>No transmitter available</option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center" id="center-frequency-formgroup" style="display: none;">
          <label for="center-frequency-input" class="col-sm-3 col-form-label">Center Frequency (Hz)</label>
          <div class="col-sm-9">
            <input data-is-valid="false" id="center-frequency-input" step="1" class="form-control" type="number" autocomplete="off"></input>
            <span id="frequency-input-format"></span>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-sm-3 col-form-label">Stations</label>
          <div id="station-field-loading" class="col-sm-9 loading-field">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <div class="col-sm-9" id="station-field">
            <select id="station-selection" class="form-control selectpicker" data-style="btn" data-live-search="true" data-count-selected-text="Selected {0} of {1} stations"
                    data-dropup-auto="false" data-display="static" multiple data-selected-text-format="count" data-actions-box="true" disabled name="station" autocomplete="off">
              <option id="no-station" value="" selected>No station available</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row align-items-center">
          <label class="col-sm-3 col-form-label">Start Time</label>
          <div class="col-sm-9">
            <div class='input-group datetimepicker' id="datetimepicker-start"
                 data-date-minstart="{{ date_min_start }}"
                 data-td-target-input="nearest"
                 data-td-target-toggle="nearest">
              {% if obs_filter.dates %}
                <input id="datetimepicker-start"
                       data-td-target="#datetimepicker-start"
                       type="text" class="form-control" name="start"
                       value="{{ obs_filter.start}}">
              {% else %}
                <input id="datetimepicker-start"
                       data-td-target="#datetimepicker-start"
                       type="text"
                       class="form-control"
                       name="start"
                       autocomplete="off">
              {% endif %}
              <span class="input-group-append"
                    data-td-target="#datetimepicker-start"
                    data-td-toggle="datetimepicker">
                <i class="input-group-text bi bi-calendar3"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-sm-3 col-form-label">End Time</label>
          <div class="col-sm-9">
            <div class='input-group datetimepicker' id="datetimepicker-end"
                 data-date-maxrange="{{ date_max_range }}"
                 data-date-minend="{{ date_min_end }}"
                 data-td-target-input="nearest"
                 data-td-target-toggle="nearest">
              {% if obs_filter.dates %}
                <input data-td-target="#datetimepicker-end"
                       type="text" class="form-control" name="end"
                       data-td-target="#datetimepicker-end"
                       value="{{ obs_filter.end}}">
              {% else %}
                <input data-td-target="#datetimepicker-end"
                       type="text"
                       class="form-control"
                       name="end"
                       autocomplete="off">
              {% endif %}
              <span class="input-group-append"
                    data-td-target="#datetimepicker-start"
                    data-td-toggle="datetimepicker">
                <i class="input-group-text bi bi-calendar3"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="advanced-settings-tab" role="tablist">
          <li class="nav-item">
             <a class="nav-link" id="advanced-options" data-toggle="tab" role="tab" type=button href="#options-tabpane" aria-selected="false" aria-controls="options-tabpane">
                Advanced Options
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="advanced-filters" data-toggle="tab" role="tab" type=button href="#filters-tabpane" aria-selected="false" aria-controls="filters-tabpane">
                Advanced Filters
            </a>
          </li>
        </ul>
      </div>
      <div class="row tab-content">
        <div class="tab-pane" id="options-tabpane" role="tabpanel" aria-labelledby="advanced-options">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Station Horizon</label>
                <div class="col-sm-9" id="horizon-status">
                  <div class="btn-group btn-group-toggle d-flex" role="group" data-toggle="buttons">
                    <label class="btn btn-outline-dark active" id="default-horizon">
                      <input type="radio" name="horizon" value="default" autocomplete="off" checked>
                        Minimum of each Station
                      </input>
                    </label>
                    <label class="btn btn-outline-dark" id="custom-horizon">
                      <input type="radio" name="horizon" value="custom" autocomplete="off">
                        Custom
                      </input>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Overlapped</label>
                <div class="col-sm-9" id="overlapped">
                  <div class="btn-group btn-group-toggle d-flex" role="group" data-toggle="buttons">
                    <label class="btn btn-outline-dark active" id="hide-overlapped">
                      <input type="radio" name="overlapped" value="hide-overlapped" autocomplete="off" checked>
                        Hide
                      </input>
                    </label>
                    <label class="btn btn-outline-dark" id="truncate-overlapped">
                      <input type="radio" name="overlapped" value="truncate-overlapped" autocomplete="off">
                        Show Truncated
                      </input>
                    </label>
                    <label class="btn btn-outline-dark" id="custom-overlapped" disabled>
                      <input type="radio" name="overlapped" value="show-overlapped" autocomplete="off">
                        <span data-toggle="tooltip" title="Not supported yet!">Show Overlapped</span>
                      </input>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="split-duration-formgroup" class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Split Duration</label>
                <div class="col-sm-9" id="split-duration-status">
                  <div class="btn-group btn-group-toggle d-flex" role="group" data-toggle="buttons">
                    <label class="btn btn-outline-dark active" id="default-split-duration">
                      <input type="radio" name="split_duration" value="{{ split.duration }}" data-min="{{ obs_min_duration }}" autocomplete="off" checked>
                        Default({{ split.duration }}sec)
                      </input>
                    </label>
                    <label class="btn btn-outline-dark" id="custom-split-duration">
                      <input type="radio" name="split_duration" value="custom" autocomplete="off">
                        Custom
                      </input>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-form-label">Break Duration</label>
                <div class="col-sm-9" id="break-duration-status">
                  <div class="btn-group btn-group-toggle d-flex" role="group" data-toggle="buttons">
                    <label class="btn btn-outline-dark active" id="default-break-duration">
                      <input type="radio" name="break_duration" value="{{ split.break }}" autocomplete="off" checked>
                        Default({{ split.break }}sec)
                      </input>
                    </label>
                    <label class="btn btn-outline-dark" id="custom-break-duration">
                      <input type="radio" name="break_duration" value="custom" autocomplete="off">
                        Custom
                      </input>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 tab-pane" id="filters-tabpane" role="tabpanel" aria-labelledby="advanced-filters">
          <div id="location-formgroup" class="form-group row align-items-center card filter-section no-gutters">
              <div id="location-status" class="form-group col-md-12 row">
                  <label class="col-sm-12">Station Location</label>
                <div class="form-group col-md-6 row align-items-center" id="lat-status">
                  <label id="custom-lat" class="col-sm-3">Latitude</label>
                  <div class="col-sm-9">
                    <input placeholder="Latitude" type="number" name="lat_custom" id="lat-custom" min="-90" max="90" step="0.001" value="" class="input-group form-control">
                  </div>
                </div>
                <div class="form-group col-md-6 row align-items-center" id="lng-status">
                  <label id="custom-lng" class="col-sm-3">Longitude</label>
                  <div class="col-sm-9">
                    <input placeholder="Longitude" type="number" name="lng_custom" id="lng-custom" min="-180" max="180" step="0.001" value="" class="input-group form-control">
                  </div>
                </div>
                <div class="form-group col-md-6 row align-items-center" id="radius-status">
                  <label id="custom-radius" class="col-sm-3">Radius in Km</label>
                  <div class="col-sm-9">
                    <input placeholder="Radius" type="number" name="radius_custom" id="radius-custom" min="0" step="0.001" value="" class="input-group form-control">
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12 text-center">
                <button type="button" id="apply-filters" class="btn btn-success" disabled="">
                  <i class="bi " aria-hidden="true"></i>
                    Apply Filters
                </button>
                <button type="button" id="reset-filters" class="btn btn-primary">
                  <i class="bi " aria-hidden="true"></i>
                    Reset Filters
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    {% if obs_filter.ground_station %}
      <input type="hidden" name="ground_station" value="{{ obs_filter.ground_station }}">
    {% endif %}

    <div class="row justify-content-end">
      <div class="col-">
        <button type="button" id="calculate-observation" class="btn btn-primary">
          <i class="bi bi-calculator-fill" aria-hidden="true"></i>
          Calculate
        </button>
      </div>
    </div>

    <div class="row calculation-result">
      <div class="col-md-12">
        <h3>Calculated Timeline</h3>
        <div id="obs-selection-tools">
          <div>
            <button type="button" id="select-all-observations" class="btn btn-outline-dark btn-sm"><i class="bi bi-check2-square">Select All</i></button>
            <button type="button" id="select-none-observations" class="btn btn-outline-dark btn-sm"><i class="bi bi-square">Select None</i></button>
          </div>
          <div>
            <label for="scheduling-elevation-filter">Max Elevation</label>
            <input id="scheduling-elevation-filter" type="text"/>
          </div>
        </div>
        <div id="loading" class="notice">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          Calculating
        </div>
        <div id="timeline"></div>
        <div id="hover-obs">
          <div class="coloredDiv"></div>
          <div class="obs-details">
            <div id="name" class="bold-text"></div>
            <div class="bold-text">Start Time:</div>
            <div id="start"></div>
            <div class="bold-text">End Time:</div>
            <div id="end"></div>
            <div class="bold-text" id="details"></div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1"
            id="polar-plot"
            width="120px" height="120px"
            viewBox="-110 -110 220 220"
            overflow="hidden">
          </svg>
        </div>
        <div id="windows-data"></div>
      </div>
    </div>

    <div id="schedule-selection" class="row calculation-result">
      <div class="col-md-12">
        <button type="button" id="schedule-observation" data-warn-min-obs="{{ warn_min_obs }}" class="btn btn-success" disabled="True">
          <i class="bi bi-calendar2-range" aria-hidden="true"></i>
          Schedule
        </button>
      </div>
      <div class="col-md-12">
        <div id="selected-observations"></div>
      </div>
    </div>

    <!-- Confirmation Modal -->
        <div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalTitle">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="ConfirmModalTitle">Do you really want to schedule <span class="counted-obs"></span> observations?</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>WARNING: You are about to schedule <span class="counted-obs"></span> observations at <span class="counted-stations"/></span> different stations.</p>
            <p>Several station owners have added requests in their station descriptions.</p>
            <p>Before scheduling massively, please make sure you respect these requests.</p>
            <p>Are you sure you want to continue and schedule all of them?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
            <button type="button" id="modal-schedule-observation" class="btn btn-success">
              Schedule
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>

  <!-- Hotkeys Modal -->
  {% include 'includes/observation-new-hotkeys.html' %}

{% endblock content %}

{% block javascript %}
  <script src="{% static 'lib/d3/d3.min.js' %}"></script>
  <script src="{% static 'js/d3-timeline.js' %}"></script>
  <script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'lib/@popperjs/core/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'lib/@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'lib/satellite.js/dist/satellite.min.js' %}"></script>
  <script src="{% static 'js/utc.js' %}"></script>
  <script src="{% static 'js/polar_svg.js' %}"></script>
  <script src="{% static 'js/observation_new.js' %}"></script>
{% endblock javascript %}
